.quiz-title {
	height: 5vh;
	font-size: 30px;
}

.start-quiz-button {
	background-color: #fff;
	color: #000;
	font-size: 30px;
	border: 2px solid #fff;
	border-radius: 15px;
	width: 25vw;
	padding: 15px;
	cursor: pointer;
}

.start-quiz-button:active,
.start-quiz-button:focus {
	outline: none;
}

@media only screen and (max-width: 600px) {
	.quiz-title {
		font-size: 20px;
	}

	.start-quiz-button {
		font-size: 20px;
		width: 60vw;
	}
}
